<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Application - Connective</h1>
    <p> LinkedIn: <%= @advisor.linkedin_url %> </p>
    <% if !@advisor.curriculum.nil? %>
      <p> <%= link_to 'Download the Curriculum Vitae', attachment_url(@advisor, :curriculum), target: '_blank' %> </p>
    <% end %>
  </body>
</html>